<h1>String Interpolation</h1>
<p>
  {{ stringInterpolation }} {{ numberInterpolation }}
</p>
<hr>
<h1>Property databinding</h1>
<label for="first">First input:</label>
<input type="text" id="first" [value]="stringInterpolation">
<p [ngClass]="{redBorder: onTest()}">Is it styled?</p>
<p [ngStyle]="{color: myColor}">Is this styled?</p>
<app-custom-binding [result]="numberInterpolation"></app-custom-binding>
<hr>
<h1>Evnet binding</h1>
<app-event-binding (clicked)="onClicked($event)"></app-event-binding>
<hr>
<h3>Two-way binding</h3>
<app-two-way-binding></app-two-way-binding>
